:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 0 10px;
}
.advice {
  color: var(--Light-Cyan);
  font-size: 28px;
  text-align: center;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 15px;
  padding: 10px 50px 50px 50px;
  max-width: 500px;
  position: relative;
}
@media (max-width: 768px) {
  .advice {
    max-width: 300px;
    padding: 10px 15px 50px 15px;

  }
  .advice .advice-img {
    content: url("../images/pattern-divider-mobile.svg");
  }
}
.advice svg {
  fill: var(--Light-Cyan);
}
.advice .advice-id {
  color: var(--Neon-Green);
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.advice .advice-content {
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: capitalize;
}
.advice .img-icon {
  width: 25px;
  height: 25px;
  padding: 15px;
}
.advice .icon-box {
  position: absolute;
  background-color: var(--Neon-Green);
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.advice .icon-box:hover {
  box-shadow: 0 0 30px var(--Neon-Green);
}
